<html>
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@200&display=swap" rel="stylesheet">
        <link href="estilos.css" rel="stylesheet">
    </head>
    <body>
        
        <%- include('header') %>
         <h2>Full stack develope remote</h2>
         <div>
            <h3>Engineerfing team</h3>
            <ul>
                <li><a href="vaga"> Develope (Remote)</a></li>
            </ul>
         </div>

            <h3>Engineerfing team</h3>
            <ul>
                <li>Fullstack Develope (remote)</li>
            </ul>

    </body>


</html>



