

body {
    font-family: 'Roboto Slab', serif;
    margin-left: 70px;
    margin-right: auto;
   
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

img {
    width: 15%;
    display: block;
    margin: 0 auto;
}

ul {
    list-style: none;
    margin-left: 16px;
}

li {
margin: 0;
}

h3 {
    font-size: 24px;
}

h2 {
    background-color: #c4c4c4;
    padding: 8px;
    font-size: 24px;

}